@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.UserAccount>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="app-page-title">
    <div class="page-title-heading">
        <div class="page-title-icon">
            <i class="pe-7s-menu icon-gradient bg-ripe-malin"></i>
        </div>
        <div>
            Quản lý nhân viên
            <div class="page-title-subheading">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(5000).slideUp(500);
    });
</script>
<div class="panel-body">
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"] hide">
            @TempData["AlertMessage"]
        </div>
    }
</div>
@*Tìm Kiếm nhân viên*@
@using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
{
    <div class="input-group">
        <input type="search" value="@ViewBag.ChuoiTimKiem" name="searchString" class="form-control border-0 bg-light" placeholder="Nhập thông tin cần tìm" aria-describedby="button-addon1">
        <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
        </div>
    </div>
}
@*Thêm nhân viên*@
<ul></ul>
<div class="app-header-left">
    <ul class="header-menu nav">
        <li class="btn-group nav-item">
            <a href="@Url.Action( "ThemNhanVien", "NhanVien")" class="nav-link">
                <i class="nav-link-icon fa fa-edit"></i>
                Tạo Mới Tài Khoản
            </a>
        </li>
    </ul>
</div>

<ul></ul>
<div class="main-card mb-3 card">
    <div class="card-body">
        <table class="mb-0 table table-hover table table-bordered">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Mã nhân viên
                </th>
                <th>
                    Tài khoản
                </th>
                <th>
                    Mật khẩu
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Loại người dùng
                </th>
                <th>
                    Tình trạng
                </th>
                <th>
                    Chức năng
                </th>
            </tr>
            @{var i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.IDUser
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.UserType
                    </td>
                    <td>
                        <button class="mb-2 mr-2 btn-transition btn btn-outline-info">
                            @(item.Status == true ? "Unlock" : "Blocked")
                        </button>
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "SuaNhanVien", new { id = item.IDUser }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.IDUser }) |
                        @Html.ActionLink("Xóa", "Xoa", new { id = item.IDUser })
                    </td>
                </tr>
                i++;
            }
        </table>
        <ul></ul>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.ChuoiTimKiem }))
    </div>
</div>
